<div class="app">
  <div class="contact-list">
    <div class="contact-head">
      <div class="user-info">
        <img class="user-photo"
             src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
        <div class="user-title">
          <span class="user-name">
            Mehmet Akif Akkaya
          </span>
          <span class="user-status">
            <a href=""><i class="bi bi-box-arrow-left"></i> Logout</a>
          </span>
        </div>
      </div>
    </div>
    <div class="contact-body-head">
      <div class="contact-body-tab active">
        Chats
      </div>
      <div class="contact-body-tab">
        People
      </div>
    </div>
    <div class="contact-body">

      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div onclick="alert('chat')" class="user-info contact">
          <img class="user-photo"
               src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
          <div class="user-title">
            <span class="user-name">
              <span>
                Mehmet Akif Akkaya
              </span>
              <span onclick="alert('option')" class="options">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
            <span class="last-message">
              Lorem Ipsum is simply dumm...
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat">
    <div class="chat-head">
      <div class="user-info">
        <img class="user-photo"
             src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
        <div class="user-title">
          <span class="user-name">
            <span>
              Mehmet Akif Akkaya
            </span>

          <span onclick="alert('option')" class="options">
                <i class="bi bi-chevron-down"></i>
              </span>
          </span>
          <span class="user-description">
            Software Developer
          </span>

        </div>
      </div>
    </div>
    <div class="chat-body">
      <div class="messages">
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
        <div [ngClass]="i % 2 == 0 ? 'owner' : 'reader'">
          <div class="message-bubble">
            <div class="left-bubble">
            </div>
            <div class="message">
              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
              <span class="time-info">23:00 <i [ngClass]="i % 2 == 0 ? i % 3 == 0 ? 'bi-check2' : 'bi-check2-all' : ''" class="bi"></i></span>
            </div>
            <div class="right-bubble">
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="text-input">
        <i class="bi bi-emoji-smile"></i>
        <textarea placeholder="Type something..."></textarea>
        <i class="bi bi-send"></i>
      </div>
    </div>
  </div>
</div>
