<div class="app">
  <div class="contact-list">
    <div class="contact-head">
      <div class="user-info">
        <img class="user-photo" src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
        <div class="user-title">
          <span class="user-name">
            Mehmet Akif Akkaya
          </span>
          <span class="user-status">
            <a href=""><i class="bi bi-box-arrow-left"></i> Çıkış Yap</a>
          </span>
        </div>
      </div>
    </div>
    <div class="contact-body">
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <div class="user-info contact">
          <img class="user-photo" src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
          <div class="user-title">
          <span class="user-name">
            Mehmet Akif Akkaya
          </span>
            <span class="last-message">
            Merhaba..
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat">
    <div class="chat-head">
      <div class="user-info">
        <img class="user-photo" src="https://media.licdn.com/dms/image/D4D03AQHj_6OVqaTCpQ/profile-displayphoto-shrink_400_400/0/1687986911142?e=1704931200&v=beta&t=ANxVNyMvXDlbZNbrw8gk5qzkg_vMYN9cXSBJAdHJXyY">
        <div class="user-title">
          <span class="user-name">
            Mehmet Akif Akkaya
          </span>
          <span class="user-status">
            Online
          </span>
        </div>
      </div>
    </div>
    <div class="chat-body">
    </div>
  </div>
</div>
